<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LiteZip</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-zip.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip ZIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-sevenZip.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip 7Z Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.7-zip.7-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-rar.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip RAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-tar.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip TAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tar-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tgz</string>
				<string>tar.gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-tarGzip.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip TAR.GZ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.litezip.tar-gzip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tbz</string>
				<string>tbz2</string>
				<string>tar.bz2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-tarBzip2.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip TAR.BZ2 Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.litezip.tar-bzip2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txz</string>
				<string>tar.xz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-tarXZ.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip TAR.XZ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.litezip.tar-xz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tzst</string>
				<string>tar.zst</string>
				<string>tar.zstd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-tarZstd.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip TAR.ZST Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.litezip.tar-zstd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-gzip.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip GZIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-bzip2.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip BZIP2 Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.bzip2-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-xz.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip XZ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tukaani.xz-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zst</string>
				<string>zstd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-zstd.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip ZSTD Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.zstandard.zstd-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iso</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip ISO Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.iso-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip Apple Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wim</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip WIM Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.wim</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lz</string>
				<string>lzip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip LZIP Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.nongnu.lzip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lz4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip LZ4 Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.lz4.lz4-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>br</string>
				<string>brotli</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip Brotli Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.brotli.br-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lrz</string>
				<string>lrzip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip LRZIP Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.lrzip.lrz-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sz</string>
				<string>snappy</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip Snappy Stream</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.snappy.sz-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dmg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-dmg.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip DMG Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.disk-image-udif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zipx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-zipx.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip ZIPX Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.winzip.zipx-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>001</string>
				<string>z01</string>
				<string>r00</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Document-split.icns</string>
			<key>CFBundleTypeName</key>
			<string>LiteZip 001 Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.litezip.split-archive</string>
				<string>app.litezip.legacy-volume</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Files to Compress</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
				<string>public.folder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.litezip.commands</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>litezip</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 LiteZip contributors</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Split Archive First Volume</string>
			<key>UTTypeIconFile</key>
			<string>Document-split.icns</string>
			<key>UTTypeIdentifier</key>
			<string>app.litezip.split-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>001</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Legacy Archive Volume</string>
			<key>UTTypeIconFile</key>
			<string>Document-split.icns</string>
			<key>UTTypeIdentifier</key>
			<string>app.litezip.legacy-volume</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>z01</string>
					<string>r00</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TAR.GZ Archive</string>
			<key>UTTypeIconFile</key>
			<string>Document-tarGzip.icns</string>
			<key>UTTypeIdentifier</key>
			<string>app.litezip.tar-gzip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tgz</string>
					<string>tar.gz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TAR.BZ2 Archive</string>
			<key>UTTypeIconFile</key>
			<string>Document-tarBzip2.icns</string>
			<key>UTTypeIdentifier</key>
			<string>app.litezip.tar-bzip2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tbz</string>
					<string>tbz2</string>
					<string>tar.bz2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TAR.XZ Archive</string>
			<key>UTTypeIconFile</key>
			<string>Document-tarXZ.icns</string>
			<key>UTTypeIdentifier</key>
			<string>app.litezip.tar-xz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txz</string>
					<string>tar.xz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TAR.ZST Archive</string>
			<key>UTTypeIconFile</key>
			<string>Document-tarZstd.icns</string>
			<key>UTTypeIdentifier</key>
			<string>app.litezip.tar-zstd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tzst</string>
					<string>tar.zst</string>
					<string>tar.zstd</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ISO Disc Image</string>
			<key>UTTypeIdentifier</key>
			<string>public.iso-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iso</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Apple Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Windows Imaging Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.wim</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wim</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lzip Stream</string>
			<key>UTTypeIdentifier</key>
			<string>org.nongnu.lzip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lz</string>
					<string>lzip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LZ4 Stream</string>
			<key>UTTypeIdentifier</key>
			<string>org.lz4.lz4-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lz4</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Brotli Stream</string>
			<key>UTTypeIdentifier</key>
			<string>org.brotli.br-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>br</string>
					<string>brotli</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LRZIP Stream</string>
			<key>UTTypeIdentifier</key>
			<string>org.lrzip.lrz-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lrz</string>
					<string>lrzip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Snappy Framed Stream</string>
			<key>UTTypeIdentifier</key>
			<string>org.snappy.sz-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sz</string>
					<string>snappy</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.disk-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Disk Image</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.disk-image-udif</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dmg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Extended ZIP Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.winzip.zipx-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zipx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>7-Zip Archive</string>
			<key>UTTypeIdentifier</key>
			<string>org.7-zip.7-zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>7z</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RAR Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.rarlab.rar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XZ Archive</string>
			<key>UTTypeIdentifier</key>
			<string>org.tukaani.xz-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zstandard Archive</string>
			<key>UTTypeIdentifier</key>
			<string>org.zstandard.zstd-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zst</string>
					<string>zstd</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
